@font-face {
  font-family: 'latin_modern_mono_light10Rg';
  src: url('lmmonolt10-regular-webfont.woff2') format('woff2'),
       url('lmmonolt10-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 12;
  font-display: optional;
}

body {
  background: #303030;
}

h1,h2,h3,h4,h5,h6,li,p,a,div,td{
  color:white;
  font-family: 'latin_modern_mono_light10Rg';
}

.background {
  min-width:100%;
  min-height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}

.skills .table {
  width: 100%;
  display: table;
}

.skills .row{
  display: table-row;
}

.skills .row > div{
  display: table-cell;
}

.skills .ranking {
  text-align: right;
}

article {
  background: #212121;
  margin: 1em auto;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

article:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bio-space {
  text-align: left;
}

.icon {
  text-align: left;
  width: 16px;
  height: 16px;
  vertical-align: sub;
  margin: 0 0.5em;
}

.badge {
  height: auto;
  max-width: calc((100% - 2em)/4);
}

.inverted {
  filter: invert(1)
}

.bio-article {
  display: grid;
  grid-template-columns: 40% 60%;
}

.bio-space .vertical-middle  {
  vertical-align: middle;
  margin: auto 0;
}

.bio-space .profile  {
  width: 100%;
}

.bio-space .profile > img {
  display: block;
  max-width: 100%;
  max-height: fit-content;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto
}

.article-padding {
  padding: 0.5em 1em;
}

