@media only screen and (min-width: 600px) and (max-width:1024px) {
  .bio-article{
    display: block;
  }

  .bio-space .profile {
    width: 100%;
    min-height: 30em;
    background-size: 100%;
    border-radius: 0;
  }
  
  .container {
    max-width: 1280;
  }
  article {
    width: calc(100% - 1em);
  }

  .article-padding {
    padding: 1em 1em;
  }

  .bio-space {
    width: 20em;
    float: left;
  }

  .fact-space {
    width: calc(100% - 20em);
    float: right;
  }
}
