@media print {
  .background {
      display:none !important;
  }
  h1,h2,h3,h4,h5,h6,li,p,a,div,td{
    color:black;
    font-family: 'latin_modern_mono_light10Rg';
    font-size: small;
  }
  .container {
    max-width: 1280;
  }

  article {
    box-shadow: none !important;
    transition: none;
    width: 100%;
    margin: 0;
  }

  article:hover {
    box-shadow: none !important;
  }
   
  .bio-article{
     display: block;
   }

  .article-padding {
    padding: 0.5em 1em;
  }


  .bio-space {
    width: 15em !important;
    float: left;
  }
  
  .bio-space .profile-wrapper {
    width: 10em;
    min-height: 10em;
    margin: 0;
  }

  .bio-space .profile::after {
    /* set it to the right  */
    content: url(portre_bw.jp2);
  }

  .fact-space {
    width: calc(100% - 15em) !important;
    float: right;
  }

  .bio-space .icon {
    width: 1em;
    vertical-align: sub !important;
    margin: 0.5em;
    filter: invert(0) !important;
  }
  .email {
    word-wrap: break-word;
  }
}
